@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.bellefair-regular {
    font-family: "Bellefair", unset;
    font-weight: 300;
    font-style: normal;
}

ul#routes li span:first-child {
    font-weight: 500;
}

ul#routes li span:not(:first-child) {
    font-weight: 300;
}

ul#routes a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    height: 100%;
}

ul#routes a:after {
    transition: all 0.2s;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid white;
}

ul#routes a:hover::after {
    opacity: 1;
}

ul#routes {
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 3px;
}

nav ul#routes {
    background-color: rgba(255, 255, 255, 0.050);
    height: 12vh;
}

main {
    height: 100%;
    width: 100%;
} 

main#home {
    background: url(./assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
}

section {
    margin: 4rem 12rem;
}

/* page 2 */

main#destination {
    background: url(./assets/destination/background-destination-desktop.jpg);
    background-size: cover;
}

section#d-section h1 span:first-child {
    font-family: "Barlow Condensed", sans-serif;
}

section#d-section ul#routes a {
    padding-bottom: 20px;
}
/* page 3 */

main#crew {
    background: url(./assets/crew/background-crew-desktop.jpg);
    background-size: cover;
}

/* page 4 */
main#technology {
    background: url(./assets/technology/background-technology-desktop.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    section#home {
        margin: 1px;
    }
}