@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
}

.bellefair-regular {
    font-family: "Bellefair", unset;
    font-style: normal;
}

ul#routes li span:first-child {
    font-weight: 500;
}

ul#routes li span:not(:first-child) {
    font-weight: 300;
}

ul#routes a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    height: 100%;
}

#routes > a > li > span {
    text-shadow: 1px 1px 2px black;
}

ul#routes a:after {
    transition: all 0.2s;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid white;
}

ul#routes a:hover::after {
    opacity: 1;
}

ul#routes {
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 3px;
    transition: all 0.5s;
}

nav ul#routes {
    background-color: rgba(255, 255, 255, 0.050);
}

header {
    position: fixed;
    width: 100%;
}

main {
    height: 100vh;
}

/* page 1 */

body#h-body {
    background: url(./assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
}

#explore {
    transition: all 0.3s;
    z-index: 20;
}

#explore:hover {
    font-size: 120%;
}

#explore:hover::after {
    scale: 1.5;
}

#explore::after {
    content: "";
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    background-color: inherit;
    opacity: 0.3;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    /* border-radius: 50%; */
}

/* page 2 */

body#d-body {
    background: url(./assets/destination/background-destination-desktop.jpg) no-repeat;
    background-size: cover;
}

#c-section>div>div.w-1\/2.pb-20.max-lg\:pb-0.leading-snug.max-lg\:w-full.flex.flex-col.justify-between.max-lg\:items-center.max-lg\:text-center.max-lg\:text-base.max-lg\:leading-none>h1 {
    letter-spacing: 3px;
    font-family: "Barlow Condensed", serif;
}

section#d-section ul#routes a {
    padding-bottom: 20px;
}

/* page 3 */

body#c-body {
    background: url(./assets/crew/background-crew-desktop.jpg) no-repeat;
    background-size: cover;
}

main#crew section img {
    height: 100%;
}

main#crew section ul li {
    background-color: #ffff;
    opacity: 0.3;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

main#crew section ul li:hover {
    opacity: 1;
}

/* page 4 */
body#t-body {
    background: url(./assets/technology/background-technology-desktop.jpg) no-repeat;
    background-size: cover;
}

section#t-section {
    padding-right: 0;
}

section {
    height: 100%;
    width: 100%;
    padding: 25vh 8rem 0 8rem;
    z-index: 1;
}

main {
    animation: reveal 1s;
}

p {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    word-spacing: 3px;
    width: 85%;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
}

/* nav  */

input[type="checkbox"]:checked ~ ul {
    right: 0;
}

input#sidebar[type="checkbox"]:checked ~ img {
    display: block;
}


/*  */

@keyframes reveal {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 1
    }
}


@media screen and (max-width: 1280px) {
    main {
        min-height: 100vh;
        overflow-y: scroll;
    }
    header {
        z-index: 99999;
    }

    section {
        padding: 15vh 0 0 0 ;
    }

    a {
        gap: 0px !important;
        text-shadow: 1px 1px 5px 5px #000;
    }

    nav ul a:after {
        display: none;
    }

    nav ul {
        position: fixed;
        right: -100vh;
        top: 0;
        z-index: 5;
        height: 100vh;
    }

    section#d-section img {
        min-height: fit-content;
    }

    body#h-body {
        min-height: 100vh;
        background: url(/assets/home/background-home-mobile.jpg) no-repeat;
        background-size: cover;
    }

    body#d-body {
        min-height: 100vh;
        background: url(./assets/destination/background-destination-mobile.jpg) no-repeat;
        background-size: cover;
    }
    body#c-body {
        min-height: 100vh;
        background: url(./assets/crew/background-crew-mobile.jpg) no-repeat;
        background-size: cover;
    }
    body#t-body {
        min-height: 100vh;
        background: url(./assets/technology/background-technology-mobile.jpg) no-repeat;
        background-size: cover;
    }

    main#destination section img {
        height: 15rem
    }

    ;

}